---
layout: my-site
---

	<!-- +++++ Post +++++ -->
	<div id="white">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<p><img src="{{ "/assets/img/user.png" | prepend: site.baseurl }}" width="50px" height="50px"> <ba>{{ page.author }}</ba></p>
					<p><bd>{{ page.date | date: "%B %-d, %Y" }}</bd></p>
					<h4>{{ page.title }}</h4>
					<p>{% if page.img %}<img class="img-responsive" src="{{ page.img }}" alt="">{% endif %}</p>
					<p>{{ content }}</p>
					<br>
					<p><bt>Category: {% for category in page.categories %} <a href="#">{{ category }}</a> {% endfor %}</bt></p>
					<p><bt>Tags: {% for tag in page.tags %} <a href="#">{{ tag }}</a> {% endfor %}</bt></p>					
					<hr>
					<p><a href="{{ "/blog/" | prepend: site.baseurl }}"># Back</a></p>
				</div>

			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /white -->